<ion-view view-title="Champions">
  <ion-content>
    <div class="row">
      <div class="col col.50">
        <label class="item item-input">
          <div class="input-label">
            Search
          </div>
          <input type="text" placeholder="Champ Name" ng-model="select.optionTwo"
          ng-change="getSearchResults()"/>
        </label>
      </div>
      <div class="col col.50">
        <label class="item item-input item-select">
          <div class="input-label">
            Filter
          </div>
          <select ng-options="option for option in listOfOptions"
            ng-model="select.optionOne"
            ng-change="selectedItemChange()">
          </select>
        </label>
      </div>
    </div>
    <div class="list">
      <a class="item item-thumbnail-left large-cards" href="#/tab/champion/{{champ.id}}" 
      ng-repeat = "champ in champions | orderBy: 'name'">
        <img src="http://ddragon.leagueoflegends.com/cdn/6.16.2/img/champion/{{champ.key}}.png">
        <h2>{{ champ.name }}</h2>
        <p>{{ champ.title }}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
